#line-numbers, #script-text-area {
	-fx-font: 12px "Courier New";
}

#line-numbers:disabled{  	
	-fx-text-fill: gray;
  	-fx-prompt-text-fill: #000000;
  	-fx-opacity: 1.0;
  	-fx-background-color: white; 
  	-fx-padding: 0 0 13 0;
}

#line-numbers *.text {
    -fx-text-alignment: right;
}

#line-numbers .scroll-pane {
	-fx-hbar-policy : never;
    -fx-vbar-policy : never;
    -fx-opacity: 1.0;
}

#script-text-area .scroll-pane {
	-fx-hbar-policy : always;
    -fx-vbar-policy : always;
}