.main-tabview {
        -fx-tab-min-width: 128;
        -fx-tab-min-height: 24;
        -fx-tab-max-height: 24;
}

.main-tabview .tab {
    -fx-background-repeat: stretch;
    -fx-background-position: right 10 center;
    -fx-alignment: CENTER-LEFT;
    -fx-text-alignment: LEFT;
}

.main-tabview .tab .tab-label {
    -fx-alignment: CENTER_LEFT;
    -fx-text-alignment: LEFT;
}

#note-label {
        -fx-background-color : rgba(100, 150, 200 , 0.5);
        -fx-background-radius: 10;
        -fx-text-fill: white;
        -fx-effect: dropshadow( three-pass-box, derive(cadetblue , -20%), 10, 0, 4 , 4);
        -fx-opacity: 0;
        -fx-font-size: 16;
        -fx-font-weight: bold;
}

.warning-graphic {
	-fx-graphic: url("../icons/warning.png");
}
.info-graphic {
	-fx-graphic: url("../icons/info.png");
}

.red-arrow {
        -fx-background-image: url("../icons/arrow_red.png");
}

.green-arrow {
        -fx-background-image: url("../icons/arrow_green.png");
}

#import .tab-label {
        -fx-graphic: url("../icons/import.png");
}
#link .tab-label {
        -fx-graphic: url("../icons/link.png");
}
#specify .tab-label {
        -fx-graphic: url("../icons/specify.png");
}
#results .tab-label {
        -fx-graphic: url("../icons/results.png");
}

.h2 {
	-fx-font: 14px "Arial";
	-fx-padding: 4;
}

.remove {
	-fx-graphic: url("../icons/remove.png");
}

.highlight * {
	 -fx-background-color: -fx-faint-focus-color, -fx-focus-color, -fx-inner-border, -fx-body-color; 
    -fx-background-insets: -2, -0.3, 1, 2;
    -fx-background-radius: 7, 6, 4, 3;
}
